.about-top {
  position: relative; /* or absolute if needed */
  top: -150px; /* Moves the element 50px upwards */
  margin: 0 auto; /* Centers horizontally */
  text-align: center;
  max-width: 1500px;
  margin: 0px auto;
  margin-left: auto;
  margin-right: auto;
  left: 100px;
  margin-bottom: 100px;
  transform: translate(-50%);
  scale: 1.2;
}

.who-we-are {
  display: none;
}

h1 {
  font-size: 35px;
  color: #000;
  font-weight: bold;

  position: absolute;
  margin-left: 300px;
  top: 381px;
}

h1 span {
  color: #1c81d6;
}

.text-container {
  margin: 20px 0;
}

.top-row-img1 {
  position: absolute;
  left: 277.55px;
  top: 206.43px;
}
.top-row-img2 {
  position: absolute;
  left: 961.43px;
  top: 206.43px;
}

.bottom-row-img3 {
  position: absolute;
  left: 167px;
  top: 464.41px;
}

.bottom-row-img4 {
  position: absolute;
  left: 610.15px;
  top: 618.45px;
}

.bottom-row-img5 {
  position: absolute;
  left: 1025.92px;
  top: 464.41px;
}

.about-info {
  position: relative;
}

.our-purpose {
  position: absolute;
  left: 150px;
  top: 325px;
  margin-top: 60px;
}

.our-purpose h1 {
  color: #1c81d6;
  font-size: 80px;
  font-weight: 550;
  margin-top: 200px;
  margin-left: -10px;
}

.our-purpose p {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  margin-top: 700px;
  max-width: 40%;
}

.our-history {
  position: absolute;
  left: 800px;
  top: 500px;
  margin-top: 180px;
}

.our-history h1 {
  color: #1c81d6;
  font-size: 80px;
  font-weight: 550;
  margin-top: 400px;
  margin-left: -10px;
}

.our-history p {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  margin-top: 900px;
  max-width: 80%;
}

.our-drive {
  position: absolute;
  left: 150px;
  top: 1000px;
  margin-top: 300px;
  margin-bottom: 100px;
}

.our-drive h1 {
  color: #1c81d6;
  font-size: 80px;
  font-weight: 550;
  margin-left: -10px;
  margin-top: 200px;
}

.our-drive p {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  margin-top: 700px;
  max-width: 40%;
}

.core-values-section {
  text-align: center;
  margin: 50px auto;
  width: 60%;
  margin-top: 2300px;
}

.core-values-section h2 {
  color: #1c81d6;
  font-size: 30px;

  margin-bottom: 20px;
}

.core-value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 0;
}

.label-and-rank {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px; /* Space between label/rank and the line */
}

.label-and-rank span {
  font-size: 15px;
  color: #1c81d6;
  font-weight: 500;
}

.label-and-rank .rank {
  font-weight: normal; /* Optionally make the rank font weight lighter */
}

.core-value hr {
  border: 0;
  border-top: 2px solid #1c81d6;
  margin: 0;
}

.core-value .professionalism {
  width: 95%; /* 85% width */
}

.core-value .diligence {
  width: 90%; /* 70% width */
}

.core-value .excellence {
  width: 85%; /* 50% width */
}

.core-value .focus {
  width: 87%; /* 30% width */
}

.faq-section {
  text-align: center;
  margin: 50px auto;
  width: 60%;
}

.faq-section h2 {
  color: #1c81d6;
  font-size: 30px;
}

.faq-item {
  border-bottom: 1px solid #1c81d6;
  padding: 15px 0;
  text-align: left;
  transition: background-color 0.3s ease;
}

.faq-question {
  color: #1c81d6;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-icon {
  transition: transform 0.3s ease;
}

.faq-icon img {
  width: 12px;
  height: 12px;
}

.faq-answer {
  color: #1c81d6;
  font-size: 11px;
  font-weight: 410;
  margin-top: 10px;
  display: none; /* Hide answers by default */
}

.faq-toggle {
  display: none; /* Hide the checkbox */
}

/* Rotate the icon when the checkbox is checked */
.faq-toggle:checked + .faq-question .faq-icon {
  transform: rotate(180deg);
}

/* Use sibling selectors to display the answer when the checkbox is checked */
.faq-toggle:checked + .faq-question + .faq-answer {
  display: block; /* Show the answer */
}

@media only screen and (max-width: 480px) {
  /* .carousel-inner {
    margin-top: -80px;
  } */
  .circle-image {
    display: none;
  }
  #high {
    display: none;
  }
  .about-top {
    display: none;
  }
  .about-info {
    display: none;
  }

  .text-container {
    display: none;
  }

  #text1 {
    margin-top: 30px;
  }

  #text2 {
    margin-top: 70px;
  }

  #text3 {
    margin-top: 90px;
  }
  .who-we-are {
    display: block;
  }
  .who-we-are h4 {
    font-size: 20px;
    color: #1c81d6;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }

  .who-we-are p {
    font-size: 12px;
    color: #555;
    line-height: 1.3;
    margin-top: 5px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 89%;
  }

  .core-values-section {
    margin-top: 100px;
    width: 90%;
  }

  .core-values-section h2 {
    color: #1c81d6;
    font-size: 20px;
    margin-bottom: 20px;
    zoom: 0.75;
  }

  .faq-section {
    margin-top: 9px;
    display: block;
    width: 90%;
    zoom: 0.8;
  }

  .faq-section h2 {
    font-size: 20px;
  }
}
