body:not(.images-loaded) main,
body:not(.images-loaded) footer {
  visibility: hidden;
}

body.images-loaded main,
body.images-loaded footer {
  visibility: visible;
  transition: visibility 0s linear 0s;
}

/* Gallery Container */
.gallery-container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  transform: scale(0.8); /* Shrink the grid to 80% of its original size */
  transform-origin: center; /* Shrinks the grid from its center */
}

/* Big Row */
.big-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* Big Image Group */
.big-image-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%; /* Each group takes 30% of the row width */
}

/* Big Images */
.big-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Small Images */
.small-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.small-images img {
  width: 45%;
  height: auto;
}

#modalImage {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  width: 400px;
}

/* Hides scrollbar in the modal body */
.modal-body {
  overflow-y: hidden; /* Disable vertical scroll */
}

/* Optional: hide scrollbars across all browsers */
.modal-body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.modal-body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
